@font-face {
	font-family: "Lexend";
	src: url(Lexend.ttf);
}
body {
	font-family: "Lexend", sans-serif;
	font-weight: 500;
}
b, strong {
	font-family: "Lexend", sans-serif;
	font-weight: 800;
}
.mono {
	text-align: justify;
	font-family: "Roboto Mono", monospace;
}
/*put this in div*/

.container {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%;
	/* 16:9 Aspect Ratio */
}
/*put this in iframe*/

.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
}
h1 {
	text-align: center;
}
p, li, li a {
	text-align: justify;
}
table.more {
	width: 100%;
}
table.more td {
	vertical-align: baseline;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
