@import url("https://fonts.googleapis.com/css?family=Lexend:400,700|Roboto+Mono|Lobster|Pacifico");
body {
	font-family: "Lexend";
}
.mono {
	text-align: justify;
	font-family: "Roboto Mono", monospace;
}
.container {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 56.25%;
	/* 16:9 Aspect Ratio */
}
.responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	border: none;
	resize: both;
}
iframe #player {
	--plyr-color-main: darkblue;
}
h1 {
	text-align: center;
}
p {
	text-align: justify;
}
