@import url("https://fonts.googleapis.com/css?family=Jost:400,400i,700|Lobster|Pacifico");
body {
	font-family: "Jost", sans-serif;
}
.mono {
	text-align: justify;
	font-family: monospace;
}
iframe {
	resize: both;
}
h1 {
	text-align: center;
}
p {
	text-align: justify;
}
