@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Roboto+Mono|Lobster|Pacifico");
body {
	font-family: "Roboto", sans-serif;
}
.mono {
	text-align: justify;
	font-family: "Roboto Mono", monospace;
}
iframe {
	width: 100%;
	max-width: 100%;
}
h1 {
	text-align: center;
}
p {
	text-align: justify;
}
.back {
	text-align: left;
}
